# Database settings
WORDPRESS_DB_NAME=wpuser
WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_PREFIX=wp_
MYSQL_USER_NAME=user
MYSQL_DB=wpuser

# WordPress site settings
SITE_TITLE="Inception WordPress"
WORDPRESS_ADMIN_USER="mamenosoa"
WORDPRESS_ADMIN_EMAIL="admin@example.com"
WORDPRESS_USER="my_user"
WORDPRESS_USER_EMAIL="user@example.com"
DOMAIN_NAME="nnomenja.42.fr"

# Redis cache settings
REDIS_HOST=redis
REDIS_PORT=6379